@model LS_BlogLuca.EF.Articoli

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Articoli</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorie.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titolo_en)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titolo_en)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenuti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenuti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenuti_en)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenuti_en)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInserimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInserimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
